<ul class="default-list weather-list">
  <li class="weather-block weather-add-new">
    <a href="#" class="add-icon">+</a>
    <h2>Add new Place</h2>
  </li>

  <li class="weather-block weather-item rounded with-shadow">
      <header class="weather-header">
        <div class="config">Conf</div>
        <div class="weather-image">
          <i class="wi wi-day-sunny"></i>
        </div>
        <h2>Sunny Day</h2>
        <h3>São Paulo - SP</h3>
      </header>

      <footer class="weather-footer">
        <div class="temperature-info">
          <div class="temp-info currently">0 Cº</div>
          <div class="temp-info minimum">0 Cº</div>
          <div class="temp-info maximum">0 Cº</div>
        </div>
      </footer>
  </li>

  <li class="weather-block weather-item rounded with-shadow">
      <header class="weather-header">
        <div class="config">Conf</div>
        <div class="weather-image">
          <i class="wi wi-day-sunny"></i>
        </div>
        <h2>Sunny Day</h2>
        <h3>São Paulo - SP</h3>
      </header>

      <footer class="weather-footer">
        <div class="temperature-info">
          <div class="temp-info currently">0 Cº</div>
          <div class="temp-info minimum">0 Cº</div>
          <div class="temp-info maximum">0 Cº</div>
        </div>
      </footer>
  </li>

  <li class="weather-block weather-item rounded with-shadow">
      <header class="weather-header">
        <div class="config">Conf</div>
        <div class="weather-image">
          <i class="wi wi-day-sunny"></i>
        </div>
        <h2>Sunny Day</h2>
        <h3>São Paulo - SP</h3>
      </header>

      <footer class="weather-footer">
        <div class="temperature-info">
          <div class="temp-info currently">0 Cº</div>
          <div class="temp-info minimum">0 Cº</div>
          <div class="temp-info maximum">0 Cº</div>
        </div>
      </footer>
  </li>
</ul>
